@import '~antd/dist/antd.css';

@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/font/WorkSans-Light.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 300;
  src: url('./assets/font/WorkSans-LightItalic.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/WorkSans-Regular.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/font/WorkSans-RegularItalic.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/font/WorkSans-Medium.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 500;
  src: url('./assets/font/WorkSans-MediumItalic.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/font/WorkSans-SemiBold.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 600;
  src: url('./assets/font/WorkSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/font/WorkSans-Bold.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/font/WorkSans-BoldItalic.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
  font-family: WorkSans;
}
p {
  margin: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #DBAA66;
  font-weight: 600;
}
a:hover {
  color: #DBAA66;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

*:focus {
  outline: none;
}

body {
  height: 100%;
  background-color: #F8F8F8;
}
body #root {
  min-height: 100%;
  height: 100%;
}
.ant-table-tbody > tr > td {
  word-break: break-all;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  word-wrap: break-word;
}