@import '~antd/dist/antd.css';

@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/font/WorkSans-Light.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 300;
  src: url('./assets/font/WorkSans-LightItalic.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/WorkSans-Regular.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/font/WorkSans-RegularItalic.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/font/WorkSans-Medium.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 500;
  src: url('./assets/font/WorkSans-MediumItalic.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/font/WorkSans-SemiBold.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 600;
  src: url('./assets/font/WorkSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/font/WorkSans-Bold.ttf');
}
@font-face {
  font-family: 'WorkSans';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/font/WorkSans-BoldItalic.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
  font-family: WorkSans;
}
p {
  margin: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #DBAA66;
  font-weight: 600;
}
a:hover {
  color: #DBAA66;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
pre {
  margin-bottom: 0px;
}

*:focus {
  outline: none;
}

body {
  height: 100%;
  background-color: #F8F8F8;
}
body #root {
  min-height: 100%;
  height: 100%;
}
.ant-table-tbody > tr > td {
  word-break: break-all;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  word-wrap: break-word;
  border-color: #DEDEDE;
}
.ant-table-thead > tr > th {
  word-break: break-all;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  word-wrap: break-word;
  border-color: #DEDEDE;
}

.ant-btn {
  padding: 0 38px;
  height: 40px;
  border-radius: 26px;
  font-weight: 600;
  border: 1px solid #beac92;
  color: #b19e83;
  background: #ffffff;
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  border: 1px solid #beac92;
  color: white;
  background: #beac92;
}

.ant-btn-primary {
  border-width: 0px;
  color: #fff;
  background: #beac92;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #beac92;
  background-color: white;
}

.ant-notification-notice {
  padding: 22px 16px;
  border-radius: 4px;
  width: 390px;
}
.ant-notification-notice.ant-notification-notice-success {
  border-left: 4px solid #5fcbaa;
}
.ant-notification-notice.ant-notification-notice-info {
  border-left: 4px solid #8fbced;
}
.ant-notification-notice.ant-notification-notice-warning {
  border-left: 4px solid #eed055;
}
.ant-notification-notice.ant-notification-notice-error {
  border-left: 4px solid #ee737e;
}

.ant-notification-icon > img {
  vertical-align: unset;
}

.ant-notification-notice-icon {
  width: 16px;
  height: 16px;
  margin-left: 0px;
  line-height: 16px;
  font-size: 16px;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-size: 16px;
  font-weight: 600;
  color: #2a292b;
  line-height: 15px;
  margin-left: 22px;
  margin-bottom: 11px;
}
.ant-notification-notice-with-icon .ant-notification-notice-description {
  color: #8c8b8c;
  line-height: 18px;
  margin-left: 22px;
}
.ant-notification-notice-close {
  top: 8px;
  right: 8px;
}
.ant-notification-close-icon {
  font-size: 16px;
}

.ant-dropdown-menu-item {
  position: relative;
  padding-right: 46px;
}
.ant-dropdown-menu-item > img {
  position: absolute;
  right: 14px;
  top: 8px;
}